@model IEnumerable<EntityLayer.Concrete.About>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}



<div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('images/img_4.jpg');">
    <div class="container">
        <div class="row same-height justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="post-entry text-center">
                    <h1 class="">HAKKIMIZDA</h1>
                    <p class="lead mb-4 text-white">Would you like to get to know our team who writes hundreds of blogs for you?</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-6 order-md-2">
                    <img src="@item.AboutImage1" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-5 mr-auto order-md-1">
                    <h2>Biz Kimiz</h2>


                    <p>@item.AboutContent1</p>
                    <ul class="ul-check list-unstyled success">
                        <li>@item.AboutContent2</li>
                        <li>Her gün 10 yeni blog yazısı.</li>
                        <li>15 den fazla kategori.</li>
                        <li>20 farklı dinamik yazar.</li>
                        <li>günlük 45k tekil okunma.</li>
                        <li>27 farklı ülkeden takipçi.</li>
                        <li>Sosyal medyada 320k abone.</li>
                    </ul>
                </div>
            }

        </div>
    </div>
</div>

@Html.Action("MeetTheTeam", "About")


<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            @foreach (var y in Model)
            {
                <div class="col-md-6">

                    <img src="@y.AboutImage2" alt="Image" class="img-fluid">



                </div>
                <div class="col-md-5 ml-auto">
                    <h2>Neler Yapıyoruz</h2>
                    <p class="mb-4">@y.AboutContent2</p>



                    <ul class="ul-check list-unstyled success">
                        <li>Onsectetur adipisicing elit</li>
                        <li>Dolorem saepe non eligendi possimus</li>
                        <li>Voluptate odit corrupti vitae</li>
                    </ul>
                </div>
            }
        </div>

    </div>
</div>
@*@Html.Action("AddMail", "MailSubscribe")*@
@Html.Action("Footer", "About")